/*
THEME STYLES
*/

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&display=swap');

// font-family: 'Archivo', sans-serif;

// Import Bootstrap. Place any overrides before the import.

$green: #4BFD9F;
$yellow: #E9C71D;
$gray: #535353;
$orange: #D4872B;
$red: #A8471D;
$teal: #3A606F;
$white: #FFFFFF;
$dark-gray: #313131;
$medium-gray: #898989;
$light-gray: #EFEFEF;
$accent-gray: #D3D3D3;

$primary: $gray;

$enable-negative-margins: true;

@import "inc/bootstrap/scss/bootstrap.scss";

// // Source mixin
// @mixin make-container($padding-x: $container-padding-x) {
//   width: 100%;
//   padding-right: calc($padding-x * 3);
//   padding-left: calc($padding-x * 3);
//   margin-right: auto;
//   margin-left: auto;
// }

// // Usage
// .container {
//   @include make-container();
// }

p {
	margin-bottom: 1rem;
}

body {
	background: $white;

	> .container {
		// background: $white;
		> .row {
			background: $white;
		}

	}
}

body > div.container-lg {
	box-shadow: 2px 6px 20px rgba( 51, 51, 51, .25);
}

body > div.container-lg div#content {
	h2 {
		text-align: left;
		font: normal normal bold 46px/52px Archivo;
		letter-spacing: 0px;
		color: $teal;
		text-transform: uppercase;
		opacity: 1;
	}

    h3 {
    	text-align: left;
		font: normal medium 26px/34px Archivo;
		letter-spacing: 0px;
		color: $teal;
    }

	p, ul, li {
		text-align: left;
		font: normal 22px/30px Archivo;
		font-weight: 400;
		letter-spacing: 0px;
		color: $teal;
	}
}

body > div.container-lg div.section-box {
	background: $light-gray;
}

// Frontpage
body > div.container-lg div.syrcuit-service-content {

	h2 {
		text-align: left;
		font: normal normal bold 56px/62px Archivo;
		letter-spacing: 0px;
		color: $white;
		text-transform: uppercase;
		opacity: 1;
	}

	h3 {
		text-align: left;
		font: normal 18px/20px Archivo;
		font-weight: 600;
		letter-spacing: 0px;
		color: $white;
		text-transform: uppercase;
	}

	p {
		text-align: left;
		font: normal 26px/34px Archivo;
		font-weight: 400;
		letter-spacing: 0px;
		color: $white;
	}

	ul {
	  margin: 0.75em 0;
	  // padding: 0 0 0 1.25em;
	  // list-style: none;
	}

	li {
		text-align: left;
		font: normal 18px/20px Archivo;
		font-weight: 400;
		letter-spacing: 0px;
		color: $white;
		opacity: 1;
		margin-bottom: .75rem;
	}

	// li:before { 
	//   content: "";
	//   border-color: transparent $white;
	//   border-style: solid;
	//   border-width: 0.45em 0 0.45em 0.45em;
	//   display: block;
	//   height: 0;
	//   width: 0;
	//   left: -1em;
	//   top: 1.0em;
	//   position: relative;
	// }

	

	a.btn {
		border-radius: 1.5rem;
		text-align: left;
		font: normal 18px/24px Archivo;
		font-weight: 600;
		letter-spacing: 1.5px;
		color: $gray;
		text-transform: uppercase;
		background: $white;
	}
}




body > div.container-lg #inner-header {
	// position: relative;
	
	> .col {
		position: relative;
		// padding-right: calc(var(--bs-gutter-x) * 1);
	    // padding-left: calc(var(--bs-gutter-x) * 1);
	    background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
	}

	video {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;

		// object-fit: cover;
		object-fit: cover;
		// padding-right: calc(var(--bs-gutter-x) * .5);
    	margin-left: calc(var(--bs-gutter-x) * -.5);

		// background: $black;
	}

	#site-logo {
		max-width: 300px;
		height: auto;
	}
	
	#inner-header-content {
		z-index: 10;
		position: relative;

		background-image: url('./assets/images/glow-rectangle.png');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		
		margin-left: calc(var(--bs-gutter-x) * -.5);
		width: calc(var(--bs-gutter-x) + 100%);
		padding-right: calc(var(--bs-gutter-x) * .5);
	    padding-left: calc(var(--bs-gutter-x) * .5);


		// &:before {
		// 	content: '';
		// 	background-image: url('./assets/images/glow-rectangle.png');
		// 	background-position: center;
		// 	background-size: cover;
		// 	background-repeat: no-repeat;
		// 	width: 100%;
		// 	height: 100%;
		// 	display: block;
		// 	position: relative;
		// 	z-index: 999;
		// 	top:0;
		// 	left: 0;
		// }
	}

	h1 {
		text-align: left;
		font: normal 50px/56px Archivo;
		font-weight: 700;
		letter-spacing: 0px;
		color: $white;
		opacity: 1;
		// text-transform: uppercase;
		border-bottom: 1px solid $white;
	}

	h2 {
		text-align: left;
		font: 40px/56px Archivo;
		font-weight: normal;
		letter-spacing: 0px;
		color: $white;
		opacity: 1;
		// border-top: 1px solid $white;
		padding-top: 1rem;
		// text-transform: uppercase;
	}

	div.copy {
		text-align: left;
		font: normal 36px/50px Archivo;
		font-weight: 300;
		letter-spacing: 0px;
		color: $white;
		text-shadow: 0px 3px 6px #00000029;
		opacity: 1;
	}

	.navbar-nav .nav-link {
		font: normal 18px/20px Archivo;
		font-weight: 500;
		text-transform: uppercase;
		padding-top: 0;
		padding-bottom: .75rem;
		color: $white;
	}
}

body.home > div.container-lg #inner-header {
	
.navbar-nav .nav-link {
		color: $white;
	}

}

body > div.container-lg div#syrcuit-service-content-1 {
	background-color: $red;
	background-image: url('./assets/images/the-team-background.png');
	background-position: right top;
	background-size: contain;
	background-repeat: no-repeat;
}

body > div.container-lg div#syrcuit-service-content-2 {
	background-color: $orange;
	background-image: url('./assets/images/solar-background.png');
	background-position: left top;
	background-size: contain;
	background-repeat: no-repeat;
}

body > div.container-lg div#syrcuit-service-content-3 {
	background-color: $teal;
	background-image: url('./assets/images/geothermal-background.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

// Solar 


body.page-template-page-template-solar div#benefits {
	background-color: $orange;
	background-image: url('./assets/images/solar-background.png');
	background-position: left top;
	background-size: contain;
	background-repeat: no-repeat;

	.benefit {
		h3 {
			text-align: left;
			font: normal 18px/24px Archivo;
			font-weight: 600;
			letter-spacing: 0px;
			color: $white;
			border-bottom: 1px solid $white;
			text-transform: uppercase;
		}

		div {
			text-align: left;
			font: normal 16px/22px Archivo;
			font-weight: 400;
			letter-spacing: 0px;
			color: $white;
		}
		.img-wrapper {
			border-radius: 50%;
			background-color: $white;
			min-height: 84px;
			min-width: 84px;
			max-width: 84px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				max-height: 58px;
				max-width: 58px;			
			}
		}
	}
}

body.page-template-page-template-geothermal div#benefits {
	background-color: $teal;
	background-image: url('./assets/images/geothermal-background.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	.benefit {
		h3 {
			text-align: left;
			font: normal 18px/24px Archivo;
			font-weight: 600;
			letter-spacing: 0px;
			color: $white;
			border-bottom: 1px solid $white;
			text-transform: uppercase;
		}

		div {
			text-align: left;
			font: normal 16px/22px Archivo;
			font-weight: 400;
			letter-spacing: 0px;
			color: $white;
		}
		.img-wrapper {
			border-radius: 50%;
			background-color: $white;
			min-height: 84px;
			min-width: 84px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				max-height: 60px;
				max-width: 60px;			
			}
		}
	}
}

// Team Pages

body.page-template-page-template-the-team {

	 &> div.container-lg div.team-members {
		h2 {
			text-align: left;
			font: normal normal bold 56px/62px Archivo;
			letter-spacing: 0px;
			color: $teal;
			text-transform: uppercase;
			opacity: 1;
		}

	    h3 {
	    	text-align: left;
			font: normal normal medium 26px/34px Archivo;
			letter-spacing: 0px;
			color: $teal;
	    }

		p {
			text-align: left;
			text-align: left;
			font: normal 300 36px/42px Archivo;
			letter-spacing: 0px;
			color: $teal;
		}

		
	}

	.board-of-directors > div > div {
		border-top: 1px solid $accent-gray;
	}

	div#members {
			.img-wrapper {
				border-radius: 50%;
				max-width: 164px;
				max-height: 164px;
				width: 164px;
				height: 164px;
				
				background: $yellow;
				display: block;
				overflow: hidden;

				img {

				}
			}

			.accordion-button{
				padding-left: 0;
				padding-bottom: 0;

				&:not(.collapsed) {
					background: $white !important;
					border: none !important;
					box-shadow: none !important;
				}
			}

			.accordion-body {
			    padding: 1rem 0;
			    border-top: 1px solid $accent-gray;	

			    p {
			    	font: normal 18px/24px Archivo;
			    	font-weight: normal;
			    	color: $gray;
			    }
			}
			.show {
				.accordion-body {
			    	
				}
			}

			h3 {
				text-align: left;
				font: normal 22px/22px Archivo;
				font-weight: 400;
				letter-spacing: 0px;
				color: $red;
				
			}

			h4 {
				text-align: left;
				font: normal 16px/16px Archivo;
				font-weight: 600;
				letter-spacing: 0px;
				color: $gray;
				text-transform: uppercase;
			}
		}

}



body > div.container-lg > footer.row {
		background-color: $light-gray;
		background-image: url('./assets/images/footer-background.png');
		background-position: top left;
		background-repeat: no-repeat;
		// background-size:

		.syrcuit-footer-addr {
			text-align: left;
			font: normal 17px/22px Archivo;
			font-weight: 700;
			letter-spacing: 0px;
			color: $teal;
			text-transform: uppercase;
			margin-left: 80px;

			.syrcuit-footer-social {
				padding-top: 1.25rem;
				ul {
					display: inline-block;
					padding: 0;
					margin: 0;
					li {
						list-style: none;
						display: inline-block;
						margin-right: 0.5rem;
						a {
							color: $teal;
						}
					}
				}
			}
		}

		.syrcuit-footer-contact {
			h4 {
				text-align: left;
				font: normal normal bold 20px/24px Archivo;
				letter-spacing: 0.6px;
				color: $teal;
				text-transform: uppercase;
			}
			p {
				text-align: left;
				font: normal 18px/24px Archivo;
				font-weight: 400;
				letter-spacing: 0px;
				color: #3A606F;
			}

			.gform_wrapper.gravity-theme input[type=color], 
			.gform_wrapper.gravity-theme input[type=date], 
			.gform_wrapper.gravity-theme input[type=datetime-local], 
			.gform_wrapper.gravity-theme input[type=datetime], 
			.gform_wrapper.gravity-theme input[type=email], 
			.gform_wrapper.gravity-theme input[type=month], 
			.gform_wrapper.gravity-theme input[type=number], 
			.gform_wrapper.gravity-theme input[type=password], 
			.gform_wrapper.gravity-theme input[type=search], 
			.gform_wrapper.gravity-theme input[type=tel], 
			.gform_wrapper.gravity-theme input[type=text], 
			.gform_wrapper.gravity-theme input[type=time], 
			.gform_wrapper.gravity-theme input[type=url], 
			.gform_wrapper.gravity-theme input[type=week], 
			.gform_wrapper.gravity-theme select {
				background: none !important;
				border-width: 0 0 2px 0;
				border-type: solid;
				border-color: transparent transparent $accent-gray transparent;
				text-transform: uppercase;
				padding-left: 0;
			}

			#field_1_5 > label {
				font-weight: normal;
				text-transform: uppercase;
				color: $medium-gray;
				font-family: Archivo;
			}

			input[type=text] {
				font-weight: normal;
				text-transform: uppercase;
				color: $medium-gray;
				font-family: Archivo;
			}

			textarea {
				font-weight: normal;
				text-transform: uppercase;
				font-family: Archivo;	
			}

			::placeholder {
			  	font-weight: normal;
				text-transform: uppercase;
				color: $medium-gray;
				font-family: Archivo;
			}

			.gform_wrapper.gravity-theme textarea {
				border: none !important;
			}

			.gform_footer input[type=submit] {
				padding: 1rem 3rem; 
				border-radius: 1.5rem;
				text-transform: uppercase;
				
				font: normal 700 16px/17px Archivo;
				letter-spacing: 1.5px;
				font-weight: 600;
				box-shadow: none !important;
				border: none !important;

				background: $white;
				border-color: $white;
				color: $teal;
				

				&:hover {
					background: $teal;
					border-color: $teal;
					color: $white;
					
				}
			}



		}

		.syrcuit-footer-copyright {
			text-align: left;
			font: normal 14px/18px Archivo;
			letter-spacing: 0px;
			color: $medium-gray;

			a {
				text-decoration: none;
				color: $medium-gray;
				&:hover {
					color: $gray;
				}								
			}
		}
		

}

// Jarallax CSS

.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

// Error 404 Styles

.error404 {
	height: 100%;
	min-height: 100%;
	//background-image: url('assets/images/error404-bg.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: $gray-100;

	@include media-breakpoint-down(xs) {
		background: transparent;
	}
	.row {
		height: 100vh;
	}
	.error404-content {
		padding: 2rem 0 2.75rem 0;
		background-color: #fff;
		border-radius: 4px;
		border: 3px solid #CDCDCD;
		box-shadow: 0 5px 15px rgba(0,0,0,0.15);

		@include media-breakpoint-down(xs) {
			background: transparent;
			border: none;
			box-shadow: none;
		}

		h1 {
			font-size:  8rem;
			font-family: $font-family-sans-serif;
			color: $primary;
			font-weight: 900;
			line-height: 0.9;
			margin: 0 0 0.25rem 0;

			@include media-breakpoint-down(sm) {
				font-size: 6rem;
			}
		}
		h2 {
			font-size: 1.75rem;
			font-family: $font-family-sans-serif;
			color: $gray-600;
			line-height: 1;
			margin: 0 0 2rem 0;
			font-weight: 900;

			@include media-breakpoint-down(sm) {
				font-size: 1.5rem;
			}
		}

		p {
			font-family: $font-family-sans-serif;
			font-style: italic;
			font-size: 0.95rem;
			color: #595959;
			font-weight: 500;
			padding: 0 1.75rem;
			margin: 0 0 2rem 0;
		}

		.btn-primary {
			font-weight: 700;
		}
	}	
}

.full-width-container {
	max-width: 1200px;
}

.p-5, .px-5 {
		padding-left: 6rem!important;
		padding-right: 6rem!important;
	}


// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 

	.p-4 {
	    padding: 1rem!important;
	}

	.p-5 {
	    padding: 1.5rem!important;
	}

	.mb-4 {
	    margin-bottom: 1.5rem!important;
	}

	.m-5 {
	    margin: 1.5rem!important;
	}

	.mx-5 {
	    margin-left: 1.5rem!important;
	    margin-right: 1.5rem!important;
	}

	.my-5 {
	    margin-top: 1.5rem!important;
	    margin-bottom: 1.5rem!important;
	}

	

	body>div.container-lg #inner-header #site-logo {
		max-width: 100%;
    	height: auto;
	}

	body>div.container-lg #inner-header .h1, 
	body>div.container-lg #inner-header h1 {
		font-size: 36px;
		line-height: 44px;
	}

	body>div.container-lg #inner-header div.copy {
		font-size: 28px;
		line-height: 34px;
	}

	body.page-template-page-template-the-team>div.container-lg div.team-members .h2, 
	body.page-template-page-template-the-team>div.container-lg div.team-members h2 {
		font-size: 32px;
		line-height: 42px;
	}

	body.page-template-page-template-the-team>div.container-lg div.team-members p {
		font-size: 28px;
		line-height: 36px;
	}

	body>div.container-lg div#content .h2, 
	body>div.container-lg div#content h2 {
		font-size: 32px;
		line-height: 42px;
	}

	body>div.container-lg div#content li, 
	body>div.container-lg div#content p, 
	body>div.container-lg div#content ul {
		font-size: 28px;
		line-height: 36px;
	}

	body > div.container-lg > footer.row {
		#site-footer-logo {
			max-width: 100%;
	    	height: auto;
		}
	}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 

	.p-5, .px-5 {
		padding-left: 3rem!important;
		padding-right: 3rem!important;
	}

	body>div.container-lg #inner-header #site-logo {
		max-width: 100%;
    	height: auto;
	}

	body > div.container-lg > footer.row {
		#site-footer-logo {
			max-width: 100%;
	    	height: auto;
		}

		.syrcuit-footer-addr {
			margin-left: 81px;
		}
	}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

	.p-5, .px-5 {
		padding-left: 4rem!important;
		padding-right: 4rem!important;
	}

	body>div.container-lg #inner-header #site-logo {
		max-width: 100%;
    	height: auto;
	}

	body > div.container-lg > footer.row {
		
		.syrcuit-footer-addr {
			margin-left: 0;
		}
	}

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 

	.p-5, .px-5 {
		padding-left: 5rem!important;
		padding-right: 5rem!important;
	}

	body > div.container-lg > footer.row {

		#site-footer-logo {
			max-width: 100%;
	    	height: auto;
		}

		.syrcuit-footer-addr {
			margin-left: 27%;
		}
	}
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { 

}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
